#projects {
  margin: 0 150px;
  padding-top: 50px;
  margin-bottom: 100px;
}

#projects > div:not(:first-child) {
  margin-top: 50px;
  /* display: none; */
}

@media only screen and (min-width: 0px) and (max-width: 1000px) {
  #projects {
    margin: 80px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
  #projects {
    margin: 40px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 500px) {
  #projects {
    margin: 0px;
  }
}
