#about {
  margin: 0px 130px;
  margin-bottom: 200px;
  /* height: 100vh; */
  padding-top: 50px;
}

#about .about-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  align-items: center;
}

#about .about-main img {
  width: 250px;
  border-radius: 15px;
}
#about .about-main > div {
  /* border: 1px solid red; */
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
}

#about .about-main div:first-child {
  width: 50%;
  font-size: 19px;
  color: var(--prim-col22);
}
#about .about-main div:first-child p > span {
  color: #356f66;
}

@media only screen and (min-width: 0px) and (max-width: 1000px) {
  #about {
    margin: 0px 80px;
    margin-bottom: 160px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
  #about {
    margin: 0px 40px;
    margin-bottom: 100px;
  }
  #about .about-main {
    flex-direction: column;
  }
  #about .about-main div:first-child {
    font-size: 18px;
    width: 100%;
    gap: 40px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 500px) {
}
